<div class="home-wrapper">
    <div class="container my-5">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="openModal()">
                    Create Batch
                </button>                  
            </div>
        </div>
        <div class="row mt-5 justify-content-center">
            <div class="col-6 d-flex gap-3 flex-column">
                <app-batch-list></app-batch-list>
            </div>
        </div>
    </div>
    
</div>

<app-batch-modal #modal></app-batch-modal>
